* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: white;
    background-color: #00fe94;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
header ul{
    display: flex;
    gap: 2.23rem;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

/* header h3{
    outline-color: #0026fe;
    outline-width: 20px;
    text-shadow: #0026fe 2px;
    text-align: center;
} */
.first {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #0026fe, #00fe94);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    /* align-items: flex-start; */
    /* height: 100vh; */
    margin: 0;
    overflow: hidden;
    padding: 4rem 2rem;
    color: white;
}

.pop{
    width: 50vw;
    padding: 0 6rem 0 0;
    border-radius: 8px;
}

.image{
    /* background: white; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    /* max-width: 600px; */
    width: 100%;
    text-align: center;
}
#quiz-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* max-width: 600px; */
    width: 50vw;
    text-align: center;
    color: #4facfe;
}


h1 {
    margin-bottom: 20px;
    color: #4facfe;
}

.question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    background: #4facfe;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.options li:hover {
    background: #00f2fe;
}

.message {
    margin-top: 0px;
    font-weight: bold;
    font-size: 1.3rem;
}

.score {
    margin-top: 20px;
    font-size: 1.2em;
    color: #4facfe;
}

.green{
    color: green;
    /* padding: 2rem 2rem; */
    /* background-color: green; */
}

.red{
    color: red;
}

.second{
    padding: 2rem;
    text-align: center;
    background-color: #00fe94;
}

.course{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    list-style: none;
    /* background-color: white; */
    color: white;
    gap: 1rem;
}

h2{
    margin-bottom: 1rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}

@media  {
    
}